body {
	display: flex;
	justify-content: center;
}


#heading {
	 font-size: 50px;
	 font-family: Arial, Helvetica, sans-serif;
}

.listCard {
	background-color: rgb(193, 223, 248);
	margin-bottom: 10px;
	width: 100%;
	padding: 0;
	border: 2px solid black;
	box-shadow: 2px 2px 2px gray;
	font-family: Arial, Helvetica, sans-serif;
}

button {
	width: 100%;
}

img {
	display: flex;
	justify-content: center;
}

.peepsCard {
	padding: 5px;

}